/*FOOTER CSS*/
/* modal */
.container-fluid > div {
  border: 0;
}

.tcolor {
 color: #1b51b5;
}

.backcolor {
  background-color: #30ace7;
  color: #ffffff;
}

/* modal button */

.btnc {
  color: #ffffff;
}

/*Couleur footer (back et police)*/
.page-footer {
  padding-top: 1.5rem;
}

.fcolor {
  background-color: #45539c;
  color: #ffffff;
}

li  a {
  color: white;
}

  a:hover {
  color: #abdaf2;
  text-decoration: underline;
}

/*Radius bouton*/
#btnrad {
  border-radius: 10px;
}
.btncolor {
  background-color: #ffffff;
  color: black;
}
/*Maps Google*/
/*Partie Social Media*/
/*Couleur et forme transitions*/
.tcolor {
  background-color: #ffffff;
}

hr {
	display: block;
	margin-left: 400px;
  margin-right: 400px;
}

/*Mise en forme paragraphe*/
.ptext {
  text-align: left;
  font-size: 0.65rem;
  margin-bottom: 0;
}

/* Item réseaux sociaux */
.fab {
  font-size: 2rem;
  width: 3rem;
}
/* Fin item réseaux sociaux */

/*FIN FOOTER CSS*/
