<div id="produits" class="row" ng-controller="prodCtrl">
  <div class="col-lg-4"> <!-- col de navigation -->
    <div class="row">
      <ul ng-repeat="article in articles | filter:{'type': 'produit'}" ng-if="!noDuplicate(article.categorie)">
        <li><a href="#!/produits/{{article.categorie}}">{{article.categorie}}</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8"> <!-- col de navigation -->
    <div class="row"> <!-- debut row col 8 -->
      <ul ng-repeat="article in articles | filter:{'type': 'produit'} | filter:{'categorie': cat}">
        <li><a href="#!/produit/{{article.id}}">{{article.titre}}</a></li>
        <li><img src="asset/image/{{article.image}}" /></li>
        <li>{{article.categorie}} - {{article.descriptif}}</li>
        <li>{{article.prix}} {{article.temps}}</li>
      </ul>
    </div>
  </div><!-- fin row col 8 -->
</div> <!-- fin premier row -->
