<div class="row" ng-controller="prodCtrl">
  <div class="col-lg-4"> <!-- col de navigation -->
    <div class="row">
      <ul ng-repeat="article in articles | filter:{'type': 'produit'}" ng-if="!noDuplicate(article.categorie)">
        <li><a href="#!/produits/{{article.categorie}}">{{article.categorie}}</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8"> <!-- col de navigation -->
    <div class="row cards" ng-repeat="article in articles | filter:{'id': id}"> <!-- debut row col 8 -->
      <div class="card">
        <img src="asset/image/{{article.image}}">
        <div class="card-title">
          <a href="#" class="toggle-info btn">
            <span class="left"></span>
            <span class="right"></span>
          </a>
          <h2>{{article.titre}}
                    <small>{{article.prix}} - {{article.temps}}</small>
                  </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
{{article.categorie}} - {{article.descriptif}}
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a href="#" class="btn">Ajouter au panier</a>
            </div>
          </div>
        </div>
    </div>
  </div><!-- fin row col 8 -->
<!-- fin row col 8 -->
</div> <!-- fin premier row -->




</div>
