<div class="row" ng-controller="prodCtrl">
  <div class="col-lg-4"> <!-- col de navigation -->
    <div class="row">
      <ul ng-repeat="article in articles | filter:{'type': 'service'}" ng-if="!noDuplicate(article.categorie)">
        <li><a href="#!/services/{{article.categorie}}">{{article.categorie}}</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8"> <!-- col de navigation -->
    <div class="row cards" ng-repeat="article in articles" ng-if="article.id==id"> <!-- debut row col 8 -->
      <div class="card">
        <img src="asset/image/{{article.image}}">
        <div class="card-title">
          <h2><a href="#!/produit/{{article.id}}">{{article.titre}}</a>
            <p><small>{{article.prix}}  {{article.temps}}</small></p>
          </h2>
        </div>
        <div class="card-flap flap1">
          <div class="card-description">
            <div>{{article.categorie}}</div><div>{{article.descriptif}}</div>
          </div>
          <div class="card-flap flap2">
            <div class="card-actions">
              <a ng-click="ajouterAuPanier(article.id, article.titre, article.prix)" class="btn">Ajouter au Panier</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- fin row col 8 -->
</div> <!-- fin premier row -->
